<!-- Navigation -->
<%- include('../header'); %>
<head>
    <title>WebClient</title>
</head>
<script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
<script src="../mqtt_conn.js"></script>

<div class="col-sm-8">
    <h3>Dados</h3>
    <hr/>
</div>
<div class="col-sm-10" style="margin-left: 15%;margin-top: -10%;">
    <table class="table">
        <thead>
        <tr>
            <th>
                Tópico
            </th>
            <th>
                Mensagem
            </th>
        </tr>
        </thead>
        <tbody id="tabela">
        </tbody>
    </table>
</div>
<script>

    let client = null;
    let clientid = "mqtt_webclient_" + makeid();
    let prefix_user = '<%= prefixo %>';
    let topics = []

    <%

        if(typeof(dados[1] != undefined)){
            console.log(1)
            if(dados[1].length > 0){
                console.log(2)
                for(let i = 0; i < dados[1].length; i++){
                    %> topics.push('<%= prefixo + '/' + dados[1][i].pb_topic%>'); <%
                }
            }
        }

        if(typeof(dados[2] != undefined)){
            if(dados[2].length > 0){
                for(let i = 0; i < dados[2].length; i++){
                    %> topics.push('<%= prefixo + '/' + dados[2][i].sb_topic%>'); <%
                }
            }
        }

    %>;

    // for(let i = 0; i < subs_tp1.length; i++){
    //     subscribe(prefix_user+'/'+subs_tp1[i].pb_topic, 0);
    // }
    //
    // for(let i = 0; i < subs_tp2.length; i++){
    //     subscribe(prefix_user+'/'+subs_tp2[i].sb_topic, 0);
    // }

    $(document).ready(function(){
        $.notify("Conectando ao servidor...", "info");
        server_connect(clientid, '<%= username %>', '<%= password %>', $.notify("Conectado!", "success"));
    });

</script>
<%- include('../footer'); %>