<%- include('../header'); %>

<div class="col-sm-8">
    <h5>Itens cadastrados</h5>
    <hr/>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Nome do dispositivo</th>
            <th>Status</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <!--<th scope="col"></th>-->
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <%
        if(typeof(validacao) != 'undefined'){
        for (var i = 0; i < validacao.length; i++) {
        %>
            <tr>
                <th scope="row"> <%= validacao[i].device_name %> </th>
                <% if(validacao[i].id_conn){ %>
                    <td>Online</td>
                <% }else{ %>
                    <td>Desconectado</td>
                <% } %>
                <td><button type="button" class="btn btn-primary" op="1" device_id="<%= validacao[i].device_id %>">Visualizar dados</button></td>
                <td><button type="button" class="btn btn-primary" op="4" device_id="<%= validacao[i].device_id %>">Alterar permissões</button></td>
                <!--<td><button type="button" class="btn btn-primary" op="3" device_id="<%= validacao[i].device_id %>">Desconectar</button></td>-->
                <td><button type="button" class="btn btn-danger" op="2" device_id="<%= validacao[i].device_id %>">Excluir</button></td>
            </tr>
        <%
        }

        }
        %>
        </tbody>
    </table>
    <script>

        $('.btn').on('click', function () {
            let id_ = $(this).attr('device_id')
            console.log(id_)
            if ($(this).attr('op') == 1) {
                window.location.href = '/device/data?device_id=' + id_;
            } else if ($(this).attr('op') == 2) {
                $.ajax({
                    url: '/device/delete',
                    type: 'DELETE',
                    dataType: 'json',
                    data: {device_id: id_},
                })
                    .done(function () {
                        alert("Operação concluída com sucesso");
                        location.reload(true);
                    })
                    .fail(function () {
                        alert("falha na execução da operação");
                        location.reload(true);
                    })
                    .always(function () {
                        console.log("complete");
                    });

            }
            else if($(this).attr('op') == 4){
                window.location.href = '/device/edit?device_id=' + id_;
            }
        })
    </script>

</div>
<div class="d-none d-xl-block col-xl-2 bd-toc">

</div>

</div>

<%- include('../footer'); %>