<%- include('../header'); %>

<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Listagem</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <table class="table table-bordered table-hover table-responsive">
      <thead>
        <tr>
          <th scope="col">Nome do dispositivo</th>
          <th>Status</th>
          <th scope="col">Visualizar dados</th>
          <th scope="col">Excluir</th>
        </tr>
      </thead>
      <tbody>
        <%
            if(typeof(validacao) != 'undefined'){
            for (var i = 0; i < validacao.length; i++) {
                %>
                <tr>
                    <th scope="row"> <%= validacao[i].device_name %> </th>
                    <td></td>
                    <td><button type="button" class="btn btn-primary" op="1" device_id="<%= validacao[i].device_id %>">Visualizar dados</button></td>
                    <td><button type="button" class="btn btn-danger" op="2" device_id="<%= validacao[i].device_id %>">Excluir</button></td>
                </tr>
                <%
            }

           } 
        %>
      </tbody>
    </table>
    <script>

      $('.btn').on('click',function(){
          console.log($(this).attr('device_id'))
      })


    </script>

<%- include('../footer'); %>