<%- include('../header'); %>

<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Listagem</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <table class="table table-bordered table-hover table-responsive">
      <thead>
        <tr>
          <th scope="col">Nome do dispositivo</th>
          <th>Status</th>
          <th scope="col">Visualizar dados</th>
          <th scope="col">Excluir</th>
        </tr>
      </thead>
      <tbody>
        <%
            if(typeof(validacao) != 'undefined'){
            for (var i = 0; i < validacao.length; i++) {
                %>
                <tr>
                    <th scope="row"> <%= validacao[i].device_name %> </th>
                    <td></td>
                    <td><button type="button" class="btn btn-primary" op="1" device_id="<%= validacao[i].device_id %>">Visualizar dados</button></td>
                    <td><button type="button" class="btn btn-danger" op="2" device_id="<%= validacao[i].device_id %>">Excluir</button></td>
                </tr>
                <%
            }

           } 
        %>
      </tbody>
    </table>
    <script>

        $('.btn').on('click',function(){
            var id_ = $(this).attr('device_id')
            console.log(id_)
            if($(this).attr('device_id') == 1){
                window.location.href = '/device/data?device_id='+id_;
            }
            else if($(this).attr('device_id') == 2){
                $.ajax({
                    url: '/path/to/file',
                    type: 'default GET (Other values: POST)',
                    dataType: 'default: Intelligent Guess (Other values: xml, json, script, or html)',
                    data: {param1: 'value1'},
                })
                .done(function() {
                    console.log("success");
                })
                .fail(function() {
                    console.log("error");
                })
                .always(function() {
                    console.log("complete");
                });
                
            }
        })


    </script>

<%- include('../footer'); %>