<%- include('header'); %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
<div class="col-sm-8">
    <h1>Configurações</h1>
    <hr/>
    <%
    if(typeof (opts) != "undefined"){
        for (let i = 0; i < opts.length; i++){
    %>
    <div class="form-group">
        <%
        if(opts[i].id_server_option != null){
            %>
                <input type="checkbox" id=<%= opts[i].id_option %> checked="" class="form-check-input"/>
            <%
        }else{
            %>
                <input type="checkbox" id=<%= opts[i].id_option %> class="form-check-input"/>
            <%
        }
        %>

        <label class="form-check-label" for="defaultCheck1"><%= opts[i].description %></label>
    </div>

    <%
         }
    }
    %>

    <div class="form-group">
        <input type="button" class="btn btn-primary" value="Salvar" onclick="salva_config()"/>
    </div>



    <script>
        function salva_config() {

            let checkbox = $('input[type=checkbox]');
            let chk_checkbox = [];
            for(let i = 0; i < checkbox.length; i++){
                if(checkbox[i].checked){
                    chk_checkbox.push(checkbox[i].id);
                }
            }

            $.ajax({
                url: '/settings',
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify(chk_checkbox),
            })
            .done(function () {
                toastr.success('Opções salvas com sucesso', '...')
            })
            .fail(function (xhr, status, error) {

                console.log("error", xhr.responseText);
            })
            .always(function () {
                console.log("complete");
            });
        }

    </script>
</div>
<div class="d-none d-xl-block col-xl-2 bd-toc">

</div>

</div>


<%- include('footer'); %>
