<%- include('header'); %>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Configurações</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">

    <%
    if(typeof (opts) != "undefined"){
        for (let i = 0; i < opts.length; i++){

            console.log(opts);
    %>
        <div class="form-group">

            <%

                if(opts[i].id_server_option != null){
                    %>
                        <input type="checkbox" id=<%= opts[i].id_option %> checked="" class="form-check-input">
                    <%
                }else{
                    %>
                         <input type="checkbox" id=<%= opts[i].id_option %> class="form-check-input">
                    <%
                }
            %>

            <label class="form-check-label" for="defaultCheck1"><%= opts[i].description %></label>
        </div>


    <%
         }
    }
    %>

        <div class="form-group">
            <input type="button" class="btn btn-primary" value="Salvar">
        </div>
</div>


<script>
    function salva_config() {
        $.ajax({
            url: '/server/user/settings',
            type: 'POST',
            dataType: 'html',
            data: {param1: 'value1'},
        })

            .done(function () {
                console.log("success");
            })
            .fail(function () {
                console.log("error");
            })
            .always(function () {
                console.log("complete");
            });
    }


</script>

<%- include('footer'); %>
