<!-- Navigation -->
<%- include('header'); %>
<head>
    <title>Tráfego ao vivo</title>
</head>
<script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
<script src="mqtt_conn.js"></script>

<div class="col-sm-8" style="margin-top: 30px;">
    <table class="table">
        <thead>
        <tr>
            <th>
                Tópico
            </th>
            <th>
                Mensagem
            </th>
        </tr>
        </thead>
        <tbody id="tabela">
        </tbody>
    </table>
</div>
<script>
    let client = null;
    let clientid = "mqtt_webclient_" + makeid();
    let prefix_user = '<%= prefix_user %>';

    $(document).ready(function(){
        $.notify("Conectando ao servidor...", "info")
        if(server_connect(clientid, '<%= username %>', '<%= password %>')){
            subscribe(prefix_user + '/#', 0);
            $.notify("Conectado!", "success");
        }else{
            $.notify("Falha ao conectar ao servidor, atualize a página", "error");
        }
    });

</script>
<%- include('footer'); %>